{% load static %}
<!DOCTYPE html>
<html>
    <head></head>
    <body>

        {% comment %}

        Open Document Format

        {% endcomment %}

        {% if file.mimetype ==  'application/vnd.oasis.opendocument.text' %}
        <iframe
            id="iframe-file-preview"
            class="iframe-file-preview"
            name="{{ file.title }}"
            srcdoc="{% include 'core/preview/odt.html' %}"
            allowfullscreen>
        </iframe>

        {% elif file.mimetype ==  'text/plain' %}
        <iframe
            id="iframe-file-preview"
            class="iframe-file-preview"
            name="{{ file.title }}"
            srcdoc="{% include 'core/preview/plain.html' %}"
            allowfullscreen>
        </iframe>

        {% comment %} Pdf   Format {% endcomment %}
        {% comment %} Image Format {% endcomment %}
        {% comment %} Video Format {% endcomment %}
        {% comment %} Audio Format {% endcomment %}

        {% elif file.mimetype in preview_mimetypes %}
        <iframe
            id="iframe-file-preview"
            class="iframe-file-preview"
            name="{{ file.title    }}"
            src="{{  file_url      }}"
            type="{{ file.mimetype }}"
            allowfullscreen>
        </iframe>

        {% else %}
            <div class="help-block help-warning">
                <svg class="icon icon-warning icon" aria-hidden="true">
                    <use href="#icon-warning"></use>
                </svg>
                Couldnt visualize file, of <strong>{{ file.mimetype }}</strong> mimetype
            </div>
        {% endif %}        

    </body>
</html>
