{% load static %}
<!DOCTYPE html>
<head>
    <link rel=stylesheet href={% static '/webodf/webodf-attach.css' %}>
    <script src={% static '/webodf/webodf.js' %}></script>
</head>
<body>
    <div id=preview-file></div>
    <script>
    window.onload = (event) => {
        odfcanvas = new odf.OdfCanvas(document.getElementById('preview-file'));
        odfcanvas.load('{{ file_url }}');
    };
    </script>
</body>
