<!DOCTYPE html>
<head>
    <style>
        body, textarea {
            padding: 0;
            margin: 0;
            width: 100vw;
            height: 100vh;
            border: none;
            outline: none;
        }
    </style>
</head>
<body>
    <textarea>{{ file.file_text }}</textarea>
</body>
