{% load wagtailadmin_tags %}


<script>
    /*
        On load make sure the left menu sidebar is collapsed.
     */
    window.onload = (event) => {
        if ( document.querySelectorAll('button[aria-label="Toggle sidebar"]')[1].getAttribute('aria-expanded') == "true" ) {
            $('button[aria-label="Toggle sidebar"]').click();
        }
    }
</script>

<!-- 

    Annotate.html
    =============

    This is a template used by AnnotationPanel as defined under 'core/panels/annotate.py'.
    To understand the implementation read the comments provided on 'core/panels/annotate.py'.

  -->

{{ annotate_panel_context|json_script:"canvas-context-data" }}

<div 
    
    x-data="{
        annotation_target: {

            viewport: {
                scale: 1.0,
                position: { x: 0, y: 0 },
                measure: { width: 0, height: 0 },
                scroll: { x: 0, y: 0 },
            },

            video: {
                progress_max: 100,
                progress_min: 0,
                progress_value: 0,
            },

            pdf: {
                page_num: 1,
                page_count: 0,
            },

            selection: {
                origin: {x:0, y:0},
                desstination: {x:0, y:0},
            }

        },

        get file_url() {
            return this.annotate_panel_context.file_url;
        },

        annotate_panel_context: JSON.parse(document.getElementById('canvas-context-data').textContent),
        
        disable_elements: false,

    }">


    <!-- 
        
        Left Side Panel.

    -->
    {% if panels %}
        {% for panel in panels %}
            {% component panel %}
        {% endfor %}
    {% else %}
        <h1 class="warning">The filetype you want to open is not supported</h1>
    {% endif %}

    

    <!-- 
        
        Right Side Panel.

    -->
    <div x-data x-bind:class="{ 'right-wrapper': true, 'disable-elements': disable_elements }">
       
        <!-- TEST
        <button x-data="{ capture() { $dispatch('capture-region', {}) } }" x-on:click.prevent="capture">Capture</button>
        <button x-data="{ dump() { console.log('file_context => ', JSON.stringify(this.file_context) ); } }" x-on:click.prevent="dump">dump</button>
        ENDTEST -->

        {% for child, identifier in self.visible_children_with_identifiers %}

        <div class="right-panel-wrapper {{ child.classes|join:' ' }}">
            
            {% if child.heading %}
                {% fragment as label_content %}
                    {{ child.heading }}{% if child.is_required %}<span class="w-required-mark">*</span>{% endif %}
                {% endfragment %}
                {% if child.id_for_label %}
                    <label class="w-field__label" for="{{ child.id_for_label }}" id="{{ child.id_for_label }}-label">{{ label_content }}</label>
                {% else %}
                    <h3 class="w-field__label">{{ label_content }}</h3>
                {% endif %}
            {% endif %}
            
            {% component child %}
        
        </div>
        {% endfor %}
    </div>

</div>
