{% if self.heading %}
    <legend class="w-sr-only">{{ self.heading }}</legend>
{% endif %}
<style>
    .iframe-file-preview {
        width: 100%;
        height: 100%;
    }

</style>
{% if self.instance.id %}
    {% include 'core/preview/iframe.html' %}
{% endif %}