{% load i18n wagtailadmin_tags %}

{% fragment as id %}inline_child_{{ child.form.prefix }}{% endfragment %}
{% fragment as panel_id %}{{ id }}-panel{% endfragment %}
<div data-inline-panel-child id="{{ id }}" data-contentpath-disabled>
    
    {% fragment as header_controls %}
        <div x-on:click.prevent="header_controls_clicked = true" x-data>
            {% if can_order %}
                <button type="button" class="button button--icon text-replace white" data-inline-panel-child-move-up title="{% trans 'Move up' %}">{% icon name="arrow-up" %}</button>
                <button type="button" class="button button--icon text-replace white" data-inline-panel-child-move-down title="{% trans 'Move down' %}">{% icon name="arrow-down" %}</button>
            {% endif %}
            <button type="button" class="button button--icon text-replace white" id="{{ child.form.DELETE.id_for_label }}-button" title="{% trans 'Delete' %}">{% icon name="bin" %}</button>
        </div>
    {% endfragment %}
    
    {% fragment as heading %}
        {{ self.label }}<span data-inline-panel-child-count></span>
    {% endfragment %}

    <div
        x-ref="annotation_inline_panel"
        x-data="{
            id: '{{ id }}',
            annotation_field_name: '{{ annotation_field_name }}',
            fragment_field_name: '{{ fragment_field_name }}',
            header_controls_clicked: false,
            
            get annotation_identifier() {
                var parts = this.id.split('-');
                return parts[ parts.length - 1 ];
            },
            get annotation_table() {
                return this.id.split('-')[0].replace('inline_child_', '');
            },
            get annotation_input_id() {
                return `id_${this.annotation_table}-${this.annotation_identifier}-id`;
            },
            get annotation_input_field_id() {
                return `id_${this.annotation_table}-${this.annotation_identifier}-${this.annotation_field_name}`;
            },
            get annotation_input_field() {
                return document.getElementById(this.annotation_input_field_id);
            },
            get fragment_input_field_id() {
                return `id_${this.annotation_table}-${this.annotation_identifier}-${this.fragment_field_name}`;
            },
            get annotation_is_set() {
                if ( this.header_controls_clicked ) 
                    return false;

                if ( this.annotation_input_field && typeof this.annotation_input_field.value !== 'undefined'  && this.annotation_input_field.value !== '' ) {
                    return true;
                }
                return false;
            },
            render_annotation(){
                /* 

                    `document.getElementById(this.id) != null` => this checks if the current div exists.
                    We need this check because, when a user adds a new annotation, and deletes it before saving the changes, 
                    then without the check `render_annotation` will dispatch the 'render-selection' event and trow an error.   
                 
                 */
                if ( this.annotation_is_set && document.getElementById(this.id) != null ) {
                    var context = JSON.parse(document.getElementById(this.fragment_input_field_id).value);
                    
                    if ( context.annotation_target != null ) {
                        context.element_clicked_box = document.getElementById(this.id).getBoundingClientRect();
                        $dispatch('focus-annotation', context);
                        $dispatch('show-annotation', context);    
                    }

                };
            },
            annotation_is_fully_filled() {
                $dispatch('capture-region', { element_id: this.fragment_input_field_id });
            },
            
            async init() {

                await $nextTick();

                console.log('Inline Panel Child', this);
                /*

                if ( ! this.annotation_is_set ) {
                    
                    function hidden_input_value_watch(self) {
                        if ( ! self.annotation_is_set ) {
                            setTimeout(hidden_input_value_watch, 100, self);
                        } else {
                            self.annotation_is_fully_filled()
                        };
                    }
                    hidden_input_value_watch(this);
                }
                */

            }
        }">
        {% panel id=panel_id heading=heading heading_size="label" heading_level="3" header_controls=header_controls %}
            {% if child.form.non_field_errors %}
                <ul>
                    {% for error in child.form.non_field_errors %}
                        <li class="error-message">
                            <span>{{ error|escape }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ child.render_form_content }}
        {% endpanel %}
    </div>

</div>
