{% if presentation_type == 'G' %}

<div id="presentation-graph" class="presentation-container"></div>

<pre id="presentation-data">
    {{ self.graph_json_data }}
</pre>

{% elif presentation_type == 'M' %}

<div id=presentation-map class="presentation-container"></div>

<pre id="presentation-data">
    {{ self.map_json_data }}
</pre>

{% elif presentation_type == 'T' %}

<div class="presentation-container">
    <div id='presentation-timeline'></div>
</div>

<pre id="presentation-data">
    {{ self.timeline_json_data }}
</pre>


{% endif %}
