.presentation-container {
  width:  90vw;
  height: 78vh;  
  display: block;
  border: 1px dashed var(--w-color-primary-200);
}

#presentation-data {
  display: none;
}

.graph-node {
  border: 1px solid var(--w-color-primary-200);
  border-radius: 20px;
  padding: 0.1em 1em;
}
.graph-node a {
  color:  var(--w-color-positive-100);
}
.file {
  background-color: blueviolet !important;
}