<div class="file-container" x-data>

    <!-- IMAGE Controls -->
    <div x-data x-bind:class="{ 'file-controls': true, 'disable-elements': disable_elements }">
        <!-- Zoom buttons -->
        <button  class="file-control file-button"  x-on:click.prevent="annotation_target.viewport.scale += 0.1">+</button>
        <button  class="file-control file-button"  x-on:click.prevent="annotation_target.viewport.scale -= 0.1" x-bind:disabled="annotation_target.viewport.scale <= 0.1">-</button>
    </div>

    <div class="file-layers">
        
        <canvas

            @focus-annotation.window="focus_annotation($event.detail)"
            
            x-ref="file"
            x-data="{
    
                ctx: null,
                img: null,
        
                focus_annotation(data) {
                    
                    this.annotation_target = data.annotation_target;
                    
                    document
                        .querySelector('[x-ref=file]')
                        .parentElement.scrollTo({
                            top: this.annotation_target.viewport.scroll.y,
                            left: this.annotation_target.viewport.scroll.x,
                            behavior: 'smooth',
                        });

                },
    
                render(){
                    if ( this.img === null ) {
                        setTimeout(() => {
                            this.render()
                        }, 100)
                    } else {   
                        this.ctx.clearRect(0, 0, this.ctx.canvas.width, this.ctx.canvas.height);
                        this.ctx.drawImage(this.img, 0, 0, this.ctx.canvas.width, this.ctx.canvas.height);
                    }
                },
        
                load_image() {
                    
                    /* https://stackoverflow.com/a/52060802 */
                    function loadImage(url) {
                        return new Promise(resolve => {
                            const image = new Image();
                            image.addEventListener('load', () => {
                                resolve(image);
                            });
                            image.src = url;
                        });
                    }
        
                    loadImage(this.file_url)
                        .then(img => {
                            this.img = img;
                            this.annotation_target.viewport.width  = this.ctx.canvas.width = img.width;
                            this.annotation_target.viewport.height = this.ctx.canvas.height = img.height;
                            this.render();
                        });
                },
        
                init() {
        
                    console.log('INIT IMAGE', this);
                    
                    // Set html5 canvas context
                    this.ctx = ctx = $refs.file.getContext('2d');
        
                    // Scale
                    $watch('annotation_target.viewport.scale', (value) => {
                        this.annotation_target.viewport.measure.width  = this.ctx.canvas.width = Math.round( this.img.width * value ); 
                        this.annotation_target.viewport.measure.height = this.ctx.canvas.height = Math.round( this.img.height * value );
                        this.render();
                    });
                    
                    this.load_image();
        
                },
    
            }"></canvas>
        {% include 'core/panels/components/control_canvas.html' %}
    </div>

</div>