<div class="file-container" x-data>

    <!-- PDF Controls -->
    <div x-data x-bind:class="{ 'file-controls': true, 'disable-elements': disable_elements }">
        
        <!-- Page -->
        <button  class="file-button file-control"  x-on:click.prevent="annotation_target.pdf.page_num -= 1" x-bind:disabled="annotation_target.pdf.page_num == 1" >
            <i class="icon icon-arrow-left"></i>
        </button>
        <input
                class="file-button file-control"
                style="width: 2em;"
                x-bind:value="annotation_target.pdf.page_num"
                x-on:change.prevent="annotation_target.pdf.page_num = parseInt($event.target.value) + 1" />
            /
        <span class="file-control" x-text="annotation_target.pdf.page_count"></span>
        <button  class="file-button file-control"  x-on:click.prevent="annotation_target.pdf.page_num += 1" x-bind:disabled="annotation_target.pdf.page_num == annotation_target.pdf.page_count">
            <i class="icon icon-arrow-right"></i>
        </button>
    
        <!-- Zoom buttons -->
        <button  class="file-button file-control"  x-on:click.prevent="annotation_target.viewport.scale += 0.1">+</button>
        <button  class="file-button file-control"  x-on:click.prevent="annotation_target.viewport.scale -= 0.1" x-bind:disabled="annotation_target.viewport.scale <= 0.1">-</button>
        
    </div>

    <div class="file-layers">
        {% include 'core/panels/components/pdf_canvas.html' %}
        {% include 'core/panels/components/control_canvas.html' %}
    </div>

</div>
