<div class="file-container" x-data>

    <!-- Text Controls -->
    <div x-data x-bind:class="{ 'file-controls': true, 'disable-elements': disable_elements }"></div>

    <div class="file-layers">
        
        <pre 
            class="text-layer"
        
            @focus-annotation.window="focus_annotation($event.detail)"
        
            x-ref="file"
            
            x-data="{
                
                text_layer_style: '',

                focus_annotation(data) {
                    
                    this.annotation_target = data.annotation_target;
                    
                    $refs.file.parentElement.scrollTo({
                        top: this.annotation_target.viewport.scroll.y,
                        left: this.annotation_target.viewport.scroll.x,
                        behavior: 'smooth',
                    });

                },

                init() {
                    
                    $.ajax(this.file_url).done( (data) => {
                        $refs.file.textContent = data;
                        this.annotation_target.viewport.measure.width  = $refs.file.clientWidth;
                        this.annotation_target.viewport.measure.height = $refs.file.clientHeight;
                    });
        
                }
            }"></pre>
        {% include 'core/panels/components/control_canvas.html' %}
        
    </div>

</div>