<div class="file-container" x-data="{
    video_play_button_state: true,
    video_timer_text: '00:00',
    video_duration_text: '',
}">


    <!-- Video Controls -->
    <div x-data x-bind:class="{ 'file-controls': true, 'disable-elements': disable_elements }">
        
        <!-- Play buttons -->
        <button class="file-button file-control play" x-on:click.prevent="$dispatch('play-video')" x-text="video_play_button_state ? '&#8227;' : '&#133;'" ></button>
        <button class="file-button file-control stop" x-on:click.prevent="$dispatch('stop-video')">&times;</button>

        <!-- Progress Bar / Info -->
        <span  class="file-control"      x-text="video_timer_text"    ></span>
        <input class="file-control video-progress" type="range" step="1" 
                    x-ref="video_progress"
                    x-bind:value="annotation_target.video.progress_value"
                    x-bind:min="annotation_target.video.progress_min"
                    x-bind:max="annotation_target.video.progress_max"
                    x-data/>
        <span   class="file-control" x-text="video_duration_text" ></span>        
        
        <!-- Zoom buttons -->
        <button  class="file-button file-control"  x-on:click.prevent="annotation_target.viewport.scale += 0.1">+</button>
        <button  class="file-button file-control"  x-on:click.prevent="annotation_target.viewport.scale -= 0.1" x-bind:disabled="annotation_target.viewport.scale <= 0.1">-</button>
    </div>
    
    
    <div class="file-layers">
        <video 
            preload="metadata"

            @focus-annotation.window="focus_annotation($event.detail)"
            @update-scale.window="update_scale($event.detail)"
            @play-video.window="play_video($event.detail)"
            @stop-video.window="stop_video($event.detail)"
            
            x-ref="file"        
            x-bind:src="file_url" 
            x-data="{
                get video() {
                    return this.$refs.file;
                },
                
                focus_annotation(data) {
                    
                    this.annotation_target = data.annotation_target;
                    
                    this.video.parentElement.scrollTo({
                                top: this.annotation_target.viewport.scroll.y,
                                left: this.annotation_target.viewport.scroll.x,
                                behavior: 'smooth',
                            });

                    this.video.currentTime = this.annotation_target.video.progress_value;
                },

                formatTime(timeInSeconds) {
                    const result = new Date( Math.round( timeInSeconds ) * 1000).toISOString().substr(11, 8); 
                    return `${ result.substr(3, 2) }:${ result.substr(6, 2) }`;
                },
        
                play_video() {
                    if ( this.video_play_button_state ) {
                        this.video.play();        
                    } else {
                        this.video.pause();
                    }
                    this.video_play_button_state = !this.video_play_button_state;
                },
        
                stop_video() {
                    this.video.pause();
                    this.video.currentTime = 0;
                    this.video_play_button_state = true;
                },    
        
                init() {

                    // Update time
                    this.video.addEventListener('timeupdate', () => {
                        this.video_timer_text = this.formatTime(this.video.currentTime);
                        this.annotation_target.video.progress_value = this.video.currentTime;
                    });

                    // On video metadata load, set initial values
                    this.video.addEventListener('loadedmetadata',() => {
                
                        // Set progress bar maximum value
                        this.annotation_target.video.progress_max = this.video.duration;

                        // Set canvas dimentions 
                        this.annotation_target.viewport.measure.width  = this.video.videoWidth;
                        this.annotation_target.viewport.measure.height = this.video.videoHeight;
        
                        // Update duration
                        this.video_duration_text = this.formatTime(this.video.duration);
                        this.video_timer_text    = this.formatTime(this.video.currentTime);
        
                        this.annotation_target.video.progress_value = this.video.currentTime;
                        
                    });

                    /* 
                        Watch for changes in scale value and update width,height. 
                    */
                    $watch('annotation_target.viewport.scale', (value) => {
                        this.annotation_target.viewport.measure.width  = this.video.width  = Math.round(this.video.videoWidth  * value );
                        this.annotation_target.viewport.measure.height = this.video.height = Math.round(this.video.videoHeight * value );
                    });
                    
                    /*
                        Add event listener on progress bar and move video time 
                        based on user input.
                    */
                    document
                        .querySelector('[x-ref=video_progress]')
                        .addEventListener('input', (event) => {
                            this.video.currentTime = event.target.value;
                            this.annotation_target.video.progress_value = this.video.currentTime;
                        });
        
        
                }
            }"></video>
        {% include 'core/panels/components/control_canvas.html' %}
    </div>


</div>