/* 
    Css used by AnnotatePanel itself
*/
.right-wrapper {
    float: right;
    position: relative;
    right: 0;
    width: 32%;
    margin-top: 2em;
}

.right-panel-wrapper, .left-panel-wrapper .right-wrapper { height: 100%; }


/* 
    Css used by AnnotatePanel components
*/
.file-control         { height: 18px; max-height: 18px; vertical-align: middle; }
.file-button          { border: 1px solid black; border-radius: 3px; }
.file-button:disabled { border: 1px solid gray;  }
.file-controls {
    height: 1.5em;
    /* border-bottom: 1px solid red; */
    margin: 0.5em 0;
    /* border-top: 1px solid black; */
}

.file-container {
    background-color: var(--w-color-border-button-small-outline-default);

    position: fixed;
    left:   4em;
    
    padding: 1px 2em;

    width: 61vw;
    height: calc( 100vh - 4em);

}

.file-layers {
    display: grid;
    overflow: auto;
    overflow-y: auto;
    
    width: 100%;
    height: calc( 100% - 3em) ;
}

/* canvas layers sits on top of each other */
.file-layers > * {
    grid-area: 1 / 1;
}

/*  */
.disable-elements { 
    opacity: 0.5;
    pointer-events: none;
}

.video-progress {
    border: 1px solid black;
    border-radius: 3px;

    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    /* border: none;
     */
    margin: 0; 
    padding: 0;
    
    /* width: 100%; */
    /* height: 25px; */
    /* background: #d3d3d3; */
    background: transparent;
    outline: none;
    opacity: 0.7; 
    /* -webkit-transition: .2s;  */
    /* transition: opacity .2s; */



    /* **line-height: 0.8em;** */
    
}

.text-layer {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color: white;
    margin: 0;
    padding: 1em;
    
    transform-origin: 0 0;
    /* transition-property: transform; */
    /* transform-origin: left top; */
}