{% load wagtailsnippets_admin_tags %}

<td class="{% if column.classname %}{{ column.classname }} {% endif %}title">
    <span class="title-wrapper">
        {% if link_url %}
            <a {% include "wagtailadmin/tables/attrs.html" with attrs=link_attrs %}>{{ value }}</a>
        {% else %}
            {{ value }}
        {% endif %}
    </span>
    <ul class="actions">
        {% comment %} {% snippet_listing_buttons instance %} {% endcomment %}
        {% for button in listing_buttons %}
            {% if button.show %}
                <li>{{ button|safe }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</td>
