{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags static %}

{% block branding_logo %}
<div style="width:3em;">
    <svg    class="icon icon-circle-xmark"
            aria-hidden="true"
            style='position:relative'
            viewBox="0 0 100 100"
            color='#5C5C5C'>        
        <use href="#icon-circle-xmark"></use>
    </svg>
</div>
{% endblock %}
