{% extends "wagtailsnippets/snippets/edit.html" %}

{% load wagtailadmin_tags i18n %}

{% block content %}
<div class="w-sticky w-top-0 w-z-header">
    {% include 'wagtailsnippets/snippets/headers/edit_header.html' %}
    {% include "wagtailadmin/shared/side_panels.html" %}
</div>

{% comment %} {% include "wagtailadmin/shared/header.html" with title=object icon=header_icon merged=1 only %} {% endcomment %}

<div class="row row-flush">

    <div class="{% if uc_enabled %}col10 divider-after{% else %}col12{% endif %}">
        <form action="{{ action_url }}" method="POST" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} data-edit-form>
            {% csrf_token %}
            <div class="nice-padding">
                {{ panel.render_form_content }}
            </div>
            <footer class="footer">
                <nav aria-label="{% trans 'Actions' %}">
                    <ul>
                        <li class="actions actions--primary footer__container">
                            <div class="dropdown dropup dropdown-button match-width {% if view.view_name == 'revisions_revert' %}warning{% endif %}">
                                {{ action_menu.render_html }}
                            </div>
                        </li>
                    </ul>
                </nav>
            </footer>
        </form>
    </div>
</div>
{% endblock %}